/* Mobile devices (up to 600px) */
@media (max-width: 600px) {
    .main-title {
        width: 450px; 
        height: auto;
    }
    .printer {
        position: absolute;
        width: 450px; 
        height: auto;
    }

    .redirect-button {
        padding: 10px 20px;
        display: block;
        font-size: 16px;
        background-color: #00121b; 
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center; 
        text-decoration: none; 
        transition: background-color 0.3s ease;
        width: 150px;
        height: auto;
    }
}

/* Tablets and small desktops (601px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    .main-title {
        width: 600px; 
        height: auto;
    }
    .printer {
        position: absolute;
        width: 500px; 
        height: auto;
    }

    .redirect-button {
        padding: 10px 20px;
        display: block;
        font-size: 16px;
        background-color: #00121b; 
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center; 
        text-decoration: none; 
        transition: background-color 0.3s ease;
        width: 250px;
        height: auto;
    }
}



/* Large desktops (1025px and up) */
@media (min-width: 1025px) {
    .main-title {
        width: 1000px; 
        height: auto;
    }
    .printer {
        position: absolute;
        width: 770px; 
        height: auto;
    }

    .redirect-button {
        padding: 10px 20px;
        display: block;
        font-size: 16px;
        background-color: #00121b; 
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center; 
        text-decoration: none; 
        transition: background-color 0.3s ease;
        width: 500px;
        height: auto;
    }
}


/*keyframes*/


@keyframes popUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes flowingGradient {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }

/*general section configs*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(180deg,  #0a0e0f, #15668f, #e71fab, #e3d100);
    background-size: 400% 400%;
    /* animation: gradientBackground 20s infinite; */
  }  



/*home features*/
.home{
    height: 70vh;
}

#home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px; 
    margin-bottom: 100px;
}

.center-content {
    text-align: center;
    position: relative;
    flex-direction: column;
    display: flex; 
    overflow: visible; 
    transition: transform 0.3s ease, color 0.3s ease;
    z-index: 10;
    justify-content: center;
    align-items: center; 
}

.center-content img {
    max-width: 100%;
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.center-content.hovered{
    transform: scale(1.1);
}





.printer {
    position: absolute;
}


.bottom-left {
    bottom: 0;
    left: 0;
    transform: translate(-20%, 20%); 
}

.top-right {
    top: 0;
    right: 0;
    transform: translate(20%, -20%); 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:transparent;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
    z-index: 1000;
}
/*Service features*/
.service{
    height: 40vh;
}

#service {
    position: relative;
    padding: 20px;
    overflow: hidden;
}

.horizontal-scroll {
    position: relative; 
    display: flex; 
    align-items: center;
    overflow-x: auto; 
}

.service-component {
    min-width: 200px;
    margin: 0 10px;
    text-align: center;
}

.service-component img {
    width: 100%;
    height: auto;
}


.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.nav-button.left {
    left: 10px;
}

.nav-button.right {
    right: 10px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 500px;
}

.popup-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/*About  features*/

.about{
    height: 60vh;
}

#about {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}


.main-text {
    font: bold 36px/1.2 'Arial', sans-serif;
    margin-bottom: 20px;
    text-align: center;
    animation: popUp 2s forwards;
}

.bottom-container {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.about-text {
    flex: 1;
    font-size: 15px;
    animation: popUp 2s forwards;
    overflow: auto; 
}

.rectangular-components {
    flex: 1;
    display: flex;
    flex-direction: column; 
    gap: 20px;
    animation: popUp 2s forwards;
}

.rectangle {
    background-color: #f0f0f0;
    width: 100%;
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    animation: popUp 2s forwards;
}

.rectangle p {
    margin: 0;
    animation: popUp 2s forwards;
}


/*faq features*/
.faq{
    height: 60vh;
}


#faq {
    padding: 20px;
    margin: 0 auto;
}


#faq h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-item:hover {
    background-color: #f9f9f9;
}

.faq-question {
    padding: 15px;
    background-color: #f0f0f0;
    font-weight: bold;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.faq-answer.active {
    max-height: 150px; 
    padding: 15px;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

/*bottom features*/
.bottom{
    height: 15vh;
}

#bottom {
    text-align: center;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.contact-info p {
    margin: 5px 0;
    font-size: 16px;
}

.map {
    display: flex;
    justify-content: center;
}

.map iframe {
    border: none;
    max-width: 600px;
    height: 450px;
}




/*header features*/
/* .transparent-header {
    
  } */
  
  .logo{
    position: absolute;
    left: 50px; 
  }  

  .login-button {
    position: fixed;
    right: 50px;
  }

  .logo,
  .nav-container a,
  .login-button
  .nav-container a[href='#sobre-nos'],
  .nav-container a[href='#impressoras'],
  .nav-container a[href='#perguntas-frequentes'] {
    transition: transform 0.3s ease, color 0.3s ease; 
    z-index: 50;
  }
  
  .logo.hovered,
  .nav-container a.hovered,
  .login-button.hovered,
  .nav-container a[href='#sobre-nos'].hovered,
  .nav-container a[href='#impressoras'].hovered,
  .nav-container a[href='#perguntas-frequentes'].hovered {
    transform: scale(1.1);
    color: #f00; 
    z-index: 50;
  }

  .nav-container a {
    margin: 0 15px; 
    z-index: 50;
    color: #ccc;
  }

  .whats{
    width: 30px;
    height: auto;
  }

  /**/

nav ul {
    list-style-type: none;
    padding: 0;
}body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 20px;
}

h2 {
    color: #282c34;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input, textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #282c34;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #4a4a4a;
}


nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 20px;
}

footer {
    background-color: #343A40;
    text-align: center;
    padding: 10px;
}



