/*home features*/
#home {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.center-content {
    text-align: center;
}

.main-title {
    width: 200px; 
    animation: popUp 2s forwards;
}

.redirect-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    animation: popUp 2s forwards;
}


.printer {
    position: absolute;
    width: 50px; 
    opacity: 0;
    animation: popUp 2s forwards;
}

.bottom-left {
    bottom: 20px;
    left: 20px;
}

.top-right {
    top: 20px;
    right: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:transparent;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/*header features with animation*/
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-around; 
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .nav-container a {
    color: #000;
    text-decoration: none;
    padding: 10px;
  }
  
  .nav-container a:hover {
    text-decoration: underline;
  }
  
  .login-button a {
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
  }
  
  .login-button a:hover {
    background-color: #000;
    color: #fff;
  }
  

nav ul {
    list-style-type: none;
    padding: 0;
}body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 20px;
}

h2 {
    color: #282c34;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input, textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #282c34;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #4a4a4a;
}


nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 20px;
}

footer {
    background-color: #343A40;
    color: #fff;
    text-align: center;
    padding: 20px;
}



@keyframes popUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}



